@{
	Layout = "~/Areas/Ads/Views/Shared/_AdsLayout.cshtml";
}

<!-- Start intro section -->
<section id="intro" class="section-intro">
	<div class="overlay">
		<div class="container">
			<div class="main-text">
				<h1 class="intro-title">Welcome To <span>ADS MASTER</span></h1>
				<p class="sub-title">Buy and sell everything from used cars to mobile phones and computers, or search for property, jobs and more</p>
				<!-- Start Search box -->
				<div class="search-bar">
					<fieldset>
						<form class="search-form">
							<div class="form-group">
								<i class="lni-bullhorn"></i>
								<input type="text" name="customword" class="form-control" placeholder="What are you looking for">
							</div>
							<div class="form-group">
								<div class="tg-select">
									<select>
										<option value="none">All Locations</option>
										<option value="none">Community</option>
										<option value="none">Items For Sale</option>
										<option value="none">Jobs</option>
										<option value="none">Personals</option>
										<option value="none">Real Estate</option>
										<option value="none">Services</option>
										<option value="none">Vehicles</option>
									</select>
									<i class="fas fa-angle-down"></i>
								</div>
							</div>
							<div class="form-group">
								<div class="tg-select">
									<select>
										<option value="none">All Locations</option>
										<option value="none">New York</option>
										<option value="none">California</option>
										<option value="none">Training</option>
										<option value="none">Washington</option>
										<option value="none">Birmingham</option>
										<option value="none">Chicago</option>
										<option value="none">Phoenix</option>
										<i class="lnr-chevron-down"></i>
									</select>
									<i class="fas fa-angle-down"></i>
								</div>
							</div>
							<button class="btn btn-common" type="button"><i class="lni-search"></i> Search Now</button>
						</form>
					</fieldset>
				</div>
				<!-- End Search box -->
			</div>
		</div>
	</div>
</section>
<!-- end intro section -->

<div class="wrapper">
	<!-- Categories Homepage Section Start -->
	<section id="categories-homepage">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="section-title">Browse Ads from 8 Categories</h3>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="category-box border-1 wow fadeInUpQuick" data-wow-delay="0.1s">
						<div class="icon">
							<a href="/ads/category"><i class="lnr lnr-users color-1"></i></a>
						</div>
						<div class="category-header">
							<a href="/ads/category"><h4>Community</h4></a>
						</div>
						<div class="category-content">
							<ul>
								<li>
									<a href="/ads/category">Announcements</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Car Pool - Bike Ride</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Charity - Donate - NGO</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Lost - Found</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Tender Notices</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">General Entertainment</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">View all subcategories →</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="category-box border-2 wow fadeInUpQuick" data-wow-delay="0.2s">
						<div class="icon">
							<a href="/ads/category"><i class="lnr lnr-laptop-phone color-2"></i></a>
						</div>
						<div class="category-header">
							<a href="/ads/category"><h4>Electronics</h4></a>
						</div>
						<div class="category-content">
							<ul>
								<li>
									<a href="/ads/category">Home Electronics</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">LCDs</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Charity - Donate - NGO</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Mobile & Tablets</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">TV & DVDs</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Technical Services</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Others</a>
									<sapn class="category-counter">1</sapn>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="category-box border-3 wow fadeInUpQuick" data-wow-delay="0.3s">
						<div class="icon">
							<a href="/ads/category"><i class="lnr lnr-cog color-3"></i></a>
						</div>
						<div class="category-header">
							<a href="/ads/category"><h4>Services</h4></a>
						</div>
						<div class="category-content">
							<ul>
								<li>
									<a href="/ads/category">Cleaning Services</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Educational</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Food Services</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Medical</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Office & Home Removals</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">General Entertainment</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">View all subcategories →</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="category-box border-4 wow fadeInUpQuick" data-wow-delay="0.4s">
						<div class="icon">
							<a href="/ads/category"><i class="lnr lnr-cart color-4"></i></a>
						</div>
						<div class="category-header">
							<a href="/ads/category"><h4>Shopping</h4></a>
						</div>
						<div class="category-content">
							<ul>
								<li>
									<a href="/ads/category">Bags</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Beauty Products</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Jewelry</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Shoes M/F</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Tender Notices</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Others</a>
									<sapn class="category-counter">3</sapn>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="category-box border-5 wow fadeInUpQuick" data-wow-delay="0.1s">
						<div class="icon">
							<a href="/ads/category"><i class="lnr lnr-briefcase color-5"></i></a>
						</div>
						<div class="category-header">
							<a href="/ads/category"><h4>Jobs</h4></a>
						</div>
						<div class="category-content">
							<ul>
								<li>
									<a href="/ads/category">Accounts Jobs</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Cleaning & Washing</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Web design</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Design & Code</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Finance Jobs</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Data Entry</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">View all subcategories →</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="category-box border-6 wow fadeInUpQuick" data-wow-delay="0.2s">
						<div class="icon">
							<a href="/ads/category"><i class="lnr lnr-graduation-hat color-6"></i></a>
						</div>
						<div class="category-header">
							<a href="/ads/category"><h4>Training</h4></a>
						</div>
						<div class="category-content">
							<ul>
								<li>
									<a href="/ads/category">Android Development</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">20 Days HTML/CSS</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">iOS Development with Swift</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">SEO for rest of us</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Mastering in Java</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Others</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">View all subcategories →</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="category-box border-7 wow fadeInUpQuick" data-wow-delay="0.3s">
						<div class="icon">
							<a href="/ads/category"><i class="lnr lnr-apartment color-7"></i></a>
						</div>
						<div class="category-header">
							<a href="/ads/category"><h4>Real Estate</h4></a>
						</div>
						<div class="category-content">
							<ul>
								<li>
									<a href="/ads/category">Farms</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Home for rent</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Hotels</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Land for sale</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Offices for rent</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Others</a>
									<sapn class="category-counter">3</sapn>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="category-box border-8 wow fadeInUpQuick" data-wow-delay="0.4s">
						<div class="icon">
							<a href="/ads/category"><i class="lnr lnr-car color-8"></i></a>
						</div>
						<div class="category-header">
							<a href="/ads/category"><h4>Vehicles</h4></a>
						</div>
						<div class="category-content">
							<ul>
								<li>
									<a href="/ads/category">Cars</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Fancy Cars</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Kids Bikes</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Motor Bikes</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Classic & Modern</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">Kinds</a>
									<sapn class="category-counter">3</sapn>
								</li>
								<li>
									<a href="/ads/category">View all subcategories →</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Categories Homepage Section End -->
</div>
