@model AdsMaster.DB.Models.Topic

@{
    Layout = "~/Areas/Ads/Views/Shared/_AdsLayout.cshtml";
}

<!-- Page Header Start -->
<div class="page-header" style="background: url(/Classifieds/dist/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Ad Details</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Start Content -->
<div id="content">
    <div class="container">
        <div class="row">
            <!-- Product Info Start -->
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="inner-box ads-details-wrapper">
                    <h2>@Html.DisplayFor(model => model.Title)</h2>
                    <p class="item-intro"><span class="poster">For sale by <span class="ui-bubble is-member">John</span> <span class="date"> 20 Mar  2:27 am</span> from <span class="location">New York</span></p>
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="product-img">
                                <img class="img-fluid" src="~/Classifieds/dist/img/productinfo/img1.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <img class="img-fluid" src="~/Classifieds/dist/img/productinfo/img3.jpg" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-img">
                                <img class="img-fluid" src="~/Classifieds/dist/img/productinfo/img2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <h2 class="title-2"><strong>Ad Details</strong></h2>
                    <div class="row">
                        <div class="ads-details-info col-md-8">
                            <p class="mb15">@Html.DisplayFor(model => model.Description)</p>
                        </div>
                        <div class="col-md-4">
                            <aside>
                                <ul class="panel-details">
                                    <li>
                                        <p class=" no-margin "><strong>Price:</strong> AED @Html.DisplayFor(model => model.Price)</p>
                                    </li>
                                </ul>
                            </aside>

                            <div class="ads-action mt-2">
                                <ul class="list-border">
                                    <li>
                                        <a href="#"> <i class=" fas fa-phone"></i> 022445167532 </a>
                                    </li>
                                    <li>
                                    <li>
                                        <a href="#">Posted by <i class=" fas fa-user"></i> John</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-xs-12">
                <div class="inner-box">
                    <div class="widget-title">
                        <h4>Advertisement</h4>
                    </div>
                    <img src="~/Classifieds/dist/img/img1.jpg" alt="">
                </div>
                <div class="col-xs-12">
                    <div class="features-box wow fadeInDownQuick" data-wow-delay="0.3s">
                        <div class="features-icon">
                            <i class="lnr lnr-star">
                            </i>
                        </div>
                        <div class="features-content">
                            <h4>
                                Fraud Protection
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="features-box wow fadeInDownQuick" data-wow-delay="0.6s">
                        <div class="features-icon">
                            <i class="lnr lnr-chart-bars"></i>
                        </div>
                        <div class="features-content">
                            <h4>
                                No Extra Fees
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="features-box wow fadeInDownQuick" data-wow-delay="0.9s">
                        <div class="features-icon">
                            <i class="lnr lnr-spell-check"></i>
                        </div>
                        <div class="features-content">
                            <h4>
                                Verified Data
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="features-box wow fadeInDownQuick" data-wow-delay="0.9s">
                        <div class="features-icon">
                            <i class="lnr lnr-smile"></i>
                        </div>
                        <div class="features-content">
                            <h4>
                                Friendly Return Policy
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aut magni perferendis repellat rerum assumenda facere.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->
