@{
    Layout = "~/Areas/Ads/Views/Shared/_AdsLayout.cshtml";
}

@*Page Header Start*@
<div class="page-header" style="background: url(../../Classifieds/dist/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="page-title">@AdsMaster.AdsResources.Resource.AboutUs</h2>
                </div>
            </div>
        </div>
    </div>
</div>
@*Page Header End*@

@*Main container Start*@
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <img src="~/Classifieds/dist/img/about.jpg" alt="">
                <div class="ad-detail-content">
                    <p>We are new small team</p>
                    <blockquote><p>We want give you more possibilites</p></blockquote>
                    <p>Do big or small things or something like this:</p>
                    <p>Post ads.</p>
                    <p>Get more clients.</p>
                    <blockquote><p>Company was founded in 2020, and has been providing ads system.</p></blockquote>
                    <p>Nice to see your again.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@*Main container End*@
