@{
	Layout = "~/Areas/Ads/Views/Shared/_AdsLayout.cshtml";
}


<!-- Page Header Start -->
<div class="page-header" style="background: url(../../Classifieds/dist/img/banner3.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="page-title">Pricing Tables</h1>
			</div>
		</div>
	</div>
</div>
<!-- Page Header End -->
<!-- Content section Start -->
<section id="content">
	<!-- Pricing Table Section -->
	<section id="pricing-table">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="mainHeading">
						<h2 class="section-title">Find a plan that’s right for you.</h2>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-xs-12">
					<div class="table">
						<div class="title">
							<h3>Silver</h3>
						</div>
						<div class="pricing-header">
							<p class="price-value"> <sup>$</sup>10</p>
							<p class="price-quality">Get Started with Classiera</p>
						</div>
						<ul class="description">
							<li><i class="fas fa-check-square"></i>Free ad posting</li>
							<li><i class="fas fa-check-square"></i>6&nbsp;Featured ads availability</li>
							<li><i class="fas fa-check-square"></i>For&nbsp;25&nbsp;days</li>
							<li><i class="fas fa-check-square"></i>100% Secure!</li>
						</ul>
						<button class="btn btn-common" type="submit">Purchase Now</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-xs-12">
					<div class="table" id="active-tb">
						<div class="title">
							<h3>Standard</h3>
						</div>
						<div class="pricing-header">
							<p class="price-value"> <sup>$</sup>12</p>
							<p class="price-quality">Get Started with Classiera</p>
						</div>
						<ul class="description">
							<li><i class="fas fa-check-square"></i>Free ad posting</li>
							<li><i class="fas fa-check-square"></i>6&nbsp;Featured ads availability</li>
							<li><i class="fas fa-check-square"></i>For&nbsp;25&nbsp;days</li>
							<li><i class="fas fa-check-square"></i>100% Secure!</li>
						</ul>
						<button class="btn btn-common" type="submit">Purchase Now</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-xs-12">
					<div class="table">
						<div class="title">
							<h3>Platinum</h3>
						</div>
						<div class="pricing-header">
							<p class="price-value"> <sup>$</sup>29</p>
							<p class="price-quality">Get Started with Classiera</p>
						</div>
						<ul class="description">
							<li><i class="fas fa-check-square"></i>Free ad posting</li>
							<li><i class="fas fa-check-square"></i>6&nbsp;Featured ads availability</li>
							<li><i class="fas fa-check-square"></i>For&nbsp;25&nbsp;days</li>
							<li><i class="fas fa-check-square"></i>100% Secure!</li>
						</ul>
						<button class="btn btn-common" type="submit">Purchase Now</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Pricing Table Section End -->
</section>
<!-- Content section End -->
