@{
	Layout = "~/Areas/Ads/Views/Shared/_AdsLayout.cshtml";
}

<!-- Page Header Start -->
<div class="page-header" style="background: url(../../Classifieds/dist/img/banner1.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumb-wrapper">
					<h2 class="page-title">Join Us</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Page Header End -->
<!-- Content section Start -->
<section id="content">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4">
				<div class="page-login-form box">
					<h3>
						Signup
					</h3>
					<form role="form" class="login-form">
						<div class="form-group">
							<div class="input-icon">
								<i class="icon fas fa-user"></i>
								<input type="text" class="form-control" name="email" placeholder="Username">
							</div>
						</div>
						<div class="form-group">
							<div class="input-icon">
								<i class="icon fas fa-envelope"></i>
								<input type="text" id="sender-email" class="form-control" name="email" placeholder="Email Address">
							</div>
						</div>
						<div class="form-group">
							<div class="input-icon">
								<i class="icon fas fa-unlock-alt"></i>
								<input type="password" class="form-control" placeholder="Password">
							</div>
						</div>
						<div class="form-group">
							<div class="input-icon">
								<i class="icon fas fa-unlock-alt"></i>
								<input type="password" class="form-control" placeholder="Retype Password">
							</div>
						</div>
						<div class="checkbox">
							<input type="checkbox" id="remember" name="rememberme" value="forever" style="float: left;">
							<label for="remember">By creating account you agree to our Terms & Conditions</label>
						</div>
						<button class="btn btn-common log-btn">Register</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Content section End -->
