@{
    Layout = "~/Areas/Ads/Views/Shared/_AdsLayout.cshtml";
}

<!-- Page Header Start -->
<div class="page-header" style="background: url(../../Classifieds/dist/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="page-title">Privacy</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->