@{
    Layout = "~/Areas/Admin/Views/Shared/_AdsLayout.cshtml";
}

@*Page Header Start*@
<div class="page-header" style="background: url(../../Classifieds/dist/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="page-title">@AdsMaster.AdsResources.Resource.Admin</h2>
                </div>
            </div>
        </div>
    </div>
</div>
@*Page Header End*@

@*Start Content*@
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="head-faq text-center">
                    <h2 class="section-title">Choose admin action</h2>
                </div>
                <a href="Admin/Moderate/">Moderate</a>
            </div>
        </div>
    </div>
</div>
@*End Content*@
